<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Mini messages!</title>
</head>
<body class="custom">
    <div class="create">
        <header>
            <h1>Create new message</h1>
        </header>
        <form class="msgForm" action="/new" method="post">
            <label>
                Message: 
                <input type="text" name="message" id="message" required>
            </label>
            <label>
                Author: 
                <input type="text" name="user" id="user" required>
            </label>
            <input type="submit">
        </form>
    </div>
</body>
</html>